<?xml version="1.0" encoding="utf-8"?>
<Package xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="UnityProject" Publisher="CN=8B5166DE-0FDF-4254-A728-EC95A6956D4B" Version="1.1.0.8" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>ms-resource:AppName</DisplayName>
    <PublisherDisplayName>Marker Metro</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <!-- add supported languages here-->
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UnityProject.Win.App">
      <m2:VisualElements DisplayName="ms-resource:AppName" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ms-resource:AppDescription" ForegroundText="dark" BackgroundColor="#9EE444" ToastCapable="false">
        <m2:DefaultTile ShortName="ms-resource:AppName" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\WideLogo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreenImage.png" BackgroundColor="#000000" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
